# -*- mode: conf -*-

[global]
font="Iosevka Term SS01"
background="#{{ .theme.bg }}"
foreground="#{{ .theme.fg }}"
frame_color="#{{ .theme.border }}"
separator_color="frame"

[urgency_critical]
frame_color="#{{ .colors.red }}"
