# vim: ft=conf

set $term kitty tmux
set $browser firefox
set $menu sh -cl fuzzel
set $audio ~/bin/audio.sh

exec sh -l ~/bin/startup

output HDMI-A-1 pos 1920 0
output DP-3 pos 0 0
output * bg ~/Pictures/wp.* fill
output * adaptive_sync on

{{- if eq .chezmoi.hostname "desk" }}
input "type:keyboard" {
    xkb_layout us,fr
    xkb_variant dvp,bepo
    # xkb_layout us,us,fr
    # xkb_variant ,dvp,bepo

    xkb_options grp:shifts_toggle
}
{{- else }}
input "type:keyboard" {
    xkb_layout us-flo,fr
    xkb_variant ,bepo

    xkb_options grp:shifts_toggle
}
{{- end }}

input "type:touchpad" {
    tap enabled
}

set $mod Mod4

floating_modifier $mod normal

bindcode {
    # comments based on qwerty layout
    # space
    $mod+65 exec $menu

    # enter e b
    $mod+36 exec $term
    $mod+26 exec $editor
    $mod+56 exec $browser

    # w
    $mod+25 kill

    # q q
    $mod+27 reload
    $mod+Mod1+53 exit

    # jkl;
    $mod+44 focus left
    $mod+45 focus down
    $mod+46 focus up
    $mod+47 focus right

    # JKL:
    $mod+Shift+44 move left
    $mod+Shift+45 move down
    $mod+Shift+46 move up
    $mod+Shift+47 move right

    # 1234567890-
    $mod+10 workspace 1
    $mod+11 workspace 2
    $mod+12 workspace 3
    $mod+13 workspace 4
    $mod+14 workspace 5
    $mod+15 workspace 6
    $mod+16 workspace 7
    $mod+17 workspace 8
    $mod+18 workspace 9
    $mod+19 workspace 10
    $mod+20 scratchpad show

    # shift+{1234567890-}
    $mod+shift+10 move container to workspace 1
    $mod+shift+11 move container to workspace 2
    $mod+shift+12 move container to workspace 3
    $mod+shift+13 move container to workspace 4
    $mod+shift+14 move container to workspace 5
    $mod+shift+15 move container to workspace 6
    $mod+shift+16 move container to workspace 7
    $mod+shift+17 move container to workspace 8
    $mod+shift+18 move container to workspace 9
    $mod+shift+19 move container to workspace 10
    $mod+shift+20 move scratchpad

    # f space
    $mod+41 fullscreen
    $mod+Shift+65 floating toggle
}

bindsym {
    XF86AudioPlay exec $audio play-pause
    XF86AudioPrev exec $audio previous
    XF86AudioNext exec $audio next
    
    XF86AudioRaiseVolume exec $audio vol+
    XF86AudioLowerVolume exec $audio vol-
    XF86AudioMute exec $audio mute
    
    XF86MonBrightnessUp exec brightnessctl s 5%+
    XF86MonBrightnessDown exec brightnessctl s 5%-
}

default_border pixel {{ .border.size }}
default_floating_border pixel {{ .border.size }}

gaps inner {{ .theme.spacing }}px
gaps outer 0px
smart_gaps off

#                border                background       text
client.focused   #{{ .theme.primary }} #{{ .theme.bg }} #{{ .theme.fg }} #{{ .theme.primary }} #{{ .theme.primary }}
client.unfocused #{{ .theme.border }}  #{{ .theme.bg }} #{{ .theme.fg }} #{{ .theme.primary }} #{{ .theme.border }}

include /etc/sway/config.d/*
