# vim: ft=conf
# Default config for sway
#
# Copy this to ~/.config/sway/config and edit it to your liking.
#
# Read `man 5 sway` for a complete reference.

### Variables
set $mod Mod4

set $left  j
set $down  c
set $up    v
set $right p

# Apps
set $term kitty tmux
set $editor kitty tmux -c hx
set $browser firefox
# sh -l to start a login shell and source /etc/profile
set $menu sh -lc 'rofi -show combi -combi-modes "drun,ssh" -modes combi'

exec sh -l ~/bin/startup
exec $term

output * bg ~/Pictures/wp.* fill
output * adaptive_sync on

### Input configuration

{{- if eq .chezmoi.hostname "desk" }}
input "type:keyboard" {
    xkb_layout us,fr
    xkb_variant dvp,bepo
    # xkb_layout us,us,fr
    # xkb_variant ,dvp,bepo

    xkb_options grp:shifts_toggle
}
{{- else }}
input "type:keyboard" {
    xkb_layout us-flo,fr
    xkb_variant ,bepo

    xkb_options grp:shifts_toggle
}
{{- end }}

input "type:touchpad" {
    tap enabled
}

workspace 10 output "DP-1"

# You can get the names of your inputs by running: swaymsg -t get_inputs
# Read `man 5 sway-input` for more information about this section.

# Drag floating windows by holding down $mod and left mouse button.
# Resize them with right mouse button + $mod.
# Despite the name, also works for non-floating windows.
# Change normal to inverse to use left mouse button for resizing and right
# mouse button for dragging.
floating_modifier $mod normal

### Key bindings
bindcode {
    # comments based on qwerty layout
    # space
    $mod+65 exec $menu

    # enter
    $mod+36 exec $term
    # e
    $mod+26 exec $editor
    # b
    $mod+56 exec $browser

    # w
    $mod+25 kill

    # q
    $mod+27 reload
    # x
    $mod+Mod1+53 exit

    # j
    $mod+44 focus left
    # k
    $mod+45 focus down
    # l
    $mod+46 focus up
    # ;
    $mod+47 focus right

    # Move the focused window with the same, but add Shift
    $mod+Shift+44 move left
    $mod+Shift+45 move down
    $mod+Shift+46 move up
    $mod+Shift+47 move right

    # Workspaces:
    # 1234567890-
    $mod+10 workspace 1
    $mod+11 workspace 2
    $mod+12 workspace 3
    $mod+13 workspace 4
    $mod+14 workspace 5
    $mod+15 workspace 6
    $mod+16 workspace 7
    $mod+17 workspace 8
    $mod+18 workspace 9
    $mod+19 workspace 10
    $mod+20 scratchpad show

    # Move focused container to workspace
    # 1234567890-
    $mod+shift+10 move container to workspace 1
    $mod+shift+11 move container to workspace 2
    $mod+shift+12 move container to workspace 3
    $mod+shift+13 move container to workspace 4
    $mod+shift+14 move container to workspace 5
    $mod+shift+15 move container to workspace 6
    $mod+shift+16 move container to workspace 7
    $mod+shift+17 move container to workspace 8
    $mod+shift+18 move container to workspace 9
    $mod+shift+19 move container to workspace 10
    $mod+shift+20 move scratchpad

    # Switch the current container between different layout styles
    # f
    $mod+41 fullscreen
    # space
    $mod+Shift+65 floating toggle
}

bindsym {
    XF86AudioPlay exec playerctl play-pause
    XF86AudioPrev exec playerctl previous
    XF86AudioNext exec playerctl next
    
    XF86AudioRaiseVolume exec pamixer -i 5
    XF86AudioLowerVolume exec pamixer -d 5
    XF86AudioMute exec pamixer -t
    
    XF86MonBrightnessUp exec brightnessctl s 5%+
    XF86MonBrightnessDown exec brightnessctl s 5%-
}

# Status Bar:
# Read `man 5 sway-bar` for more information about this section.
# bar {
#     position bottom

#     # When the status_command prints a new line to stdout, swaybar updates.
#     # The default just shows the current date and time.
#     status_command while date +'%Y-%m-%d %H:%M'; do sleep 1; done

#     colors {
#         statusline #e0def4
#         background #191724

#         # border background text
#         focused_workspace #ebbcba #ebbcba #191724
#         inactive_workspace #1f1d2e #1f1d2e #e0def4
#     }
# }

default_border none
default_floating_border none
titlebar_padding 1
titlebar_border_thickness 0

gaps inner 10px
gaps outer 0px
smart_gaps off

include /etc/sway/config.d/*
